<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <div class="about">
        <h1>О нас</h1>
        <p>Домашняя страничка</p>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/-452p_9ESbM?si=OSdJ_WerEwgUK2qt" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        <a href="youtube.com"> ЮТУБ </a>
    </div>
    <script src="{% static 'js/app.js' %}"></script>
</body>
</html>
